<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Unified Order</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='main/main.css')}}">

</head>

<!--Navbar-->
<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="{{url_for('static', filename='main/TUO-Brand.png')}}" width="30" height="30" class="d-inline-block align-top" alt="">
            The Unified Order
          </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">PVM Bingo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Clue Openings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Skilling Seasonal</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Archives
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Clan Leaderboard</a></li>
              <li><a class="dropdown-item" href="#">Hall of Fame</a></li>
              <li><a class="dropdown-item" href="#">Other History</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<body style="background-color:#292929;">
{% block content %}
{% endblock %}
</body>

<footer class="text-center text-lg-start" style="background-color:#bb86fc;" >
    <!-- Grid container -->
    <div class="container p-4" >
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Clan</h5>
  
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-body">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-body">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-body">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-body">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-0">PVM</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-body">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-body">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-body">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-body">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Skilling</h5>
  
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-body">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-body">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-body">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-body">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-0">Clues</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-body">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-body">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-body">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-body">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
  </footer>

</html>
